@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    height: 100vh;
}

/* header css */
.header-container {
    width: 100vw;
    height: 12vh;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    /* to give the gap betweeen all header div*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid #b8b8b8;
}

.dash-company-logo-box {
    width: 19%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.dash-company-logo-box img {
    width: 107px;
    border: 1px solid #80808035;
    background-color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

.dash-company-logo-box span i {
    font-size: 23px;
    cursor: pointer;
    color: #A5A5A5;
}

.dash-company-logo-box span i:active {
    color: #c1272cd1;
}

.search-box-container {
    width: 45%;
    height: 8vh;
    display: flex;
    align-items: center;
}

.searchbar-box {
    width: 45%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F6F9;
    border-radius: 7px;
    padding: 0px 15px;

}

.searchbar-box img {
    width: 20px;
    margin: 0px 3px;
    cursor: pointer;
}

.searchbar-box input {
    width: 90%;
    height: 55%;
    padding: 0px 5px 2px 5px;
    font-size: 1.1rem;
    outline: none;
    border: none;
    background-color: transparent;
    color: #9b9b9b;
}

.searchbar-box input::placeholder {
    color: #9b9b9b;
}


.profile-content-container {
    width: 35%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.separator {
    width: 1.5px;
    height: 80%;
    background-color: #F4F6F9;
}


.notification-unread-icon img {
    padding-top: 7px;
    width: 17px;
    cursor: pointer;
}


.last-login-date-box p {
    font-size: 0.8rem;
    font-weight: 500;
    color: #575E6A;
}

.profile-content {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.profile-content img {
    width: 19px;
    background-color: #F4F6F9;
    padding: 10px 10px;
    border-radius: 30px;
    margin-right: 10px;
}

.admin-name {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
}

.admin-name h4 {
    font-size: 0.9rem;
    color: rgb(81, 81, 81);
}

.admin-name p {
    font-size: 0.75rem;
    color: #A5A5A5;
}



/* ===========side navbar css============ */

.side-navbar-container li {
    list-style: none;
}

#Side-Navbar {
    width: 20%;
    /* to fixed the position of navbar */
    position: fixed;
    top: 12vh;
    left: 0;
    /* above is complementry */
}

.side-navbar-container {
    width: 100%;
    height: 83vh;
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* border-right: 1px solid #F4F6F9; */
    border-right: 1px solid #b8b8b8;
    transition: width .3s ease-in-out;
    padding-top: 20px;
    overflow-y: auto;
}

.side-navbar-container::-webkit-scrollbar {
    display: none;
}

.side-navbar-container .side-nav-flex {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: gray; */

}

.side-navbar-container h1 {
    width: 90%;
    font-size: 0.8rem;
    color: #A5A5A5;
    font-weight: 500;
}

.side-navbar-container ul {
    width: 90%;
}


.side-navbar-container ul li {
    list-style: none;
    font-size: 1rem;
    padding: 8px 0px 8px 3px;
    border-radius: 4px;

}

.side-navbar-container ul li a {
    color: #575E6A;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.side-navbar-container ul li a i {
    font-size: 1.3rem;
    transition: all 0.2s ease-in;
}

.side-navbar-container ul li a span {
    margin-left: 15px;
}

.navbar-separator {
    width: 100%;
    height: 0.8px;
    background-color: #767676;
    margin: 10px 0px;
}

.side-navbar-container ul li a i.active {
    font-size: 1.5rem;
}


/* dashboard page section */

#dash-board-body-wrap {
    width: 100vw;
    display: flex;
    position: relative;
    top: 12vh;
}

main {
    /* this will always be exits */
    width: 80%;
    background-color: red;
    /* to fix the main  */
    position: fixed;
    left: 20%;
    /* top: 12vh; */
    transition: all .3s ease;
}

@media screen and (max-width: 1100px) {
    #dash-board-body-wrap main {
        width: 95%;
        left: 60px;
    }

    .side-navbar-container {
        width: 60px;
    }

    .side-navbar-container li a span {
        display: none;
    }

    .side-navbar-container h1 {
        display: none;
    }

    .side-navbar-container ul li a i {
        font-size: 1.5rem;
        margin-left: 10px;
    }

    /* for dashboard */
    #box-separator {
        display: none;
    }

    .last-login-date-box {
        display: none;
    }

    .separator:nth-child(2) {
        display: none;
    }
}

.dashboard-container {
    width: 100%;
    height: 88vh;
    background-color: #F4F6F9;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-y: auto;
}

/* ======================================= */
.dashboard-container::-webkit-scrollbar {
    display: none;
}

/* ============================================= */
.dashbord-content {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */
}

.main-dashboard {
    width: 100%;
    display: flex;
    gap: 25px;
    margin-top: 25px;
}


.application-hr-dashboard {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.application-dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;
}

.application-dashoard-heading {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
    padding: 15px 0px 15px 0px;
}

.application-dashoard-heading h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.application-dashoard-heading i {
    font-size: 1.3rem;
    color: #808080;
}

#heading-separator {
    width: 100%;
    height: .5px;
    background-color: #dfdfdf;
    margin: 0px 0px 20px 0px;
}

.application-dashboard-box {
    width: 95%;
    /* background-color: rgb(205, 205, 205); */
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.application-dashboard-box .box {
    width: 220px;
    height: 160px;
    padding: 20px 5px 20px 20px;
}

.application-dashboard-box .box .box-img-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#new-register-txt div {
    color: #B0BBC6;
    font-size: 0.5rem;
    display: flex;
}

#new-register-txt div p {
    color: #34AD78;
}

#new-register-txt div p span {
    font-size: 0.7rem;
}


#box-separator {
    width: 0.5px;
    height: 200px;
    margin: 0px 10px;
    background-color: #e1e1e1;
}


.hr-dashboard {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hr-dashboard-heading {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px 15px 0px;
}

.hr-dashboard-heading h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.hr-dashboard-heading i {
    font-size: 1.3rem;
    color: #808080;
}

.hr-dashboard-cards {
    width: 95%;
    margin: 10px 0px 30px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.hr-dashboard-cards .hr-dashboard-card {
    width: 152px;
    height: 90px;
    background-color: #F4F6F9;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #DDDDDD;
}

.hr-dashboard-card .hr-amount-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hr-amount-detail p {
    font-size: 1.65rem;
    font-weight: 500;
    color: black;
}

.hr-amount-detail i {
    font-size: 0.7rem;
    color: #1E1E1E;
}

.hr-dashboard-card p {
    display: flex;
    justify-content: end;
    font-weight: 500;
}

.hr-card-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hr-card-icon img {
    width: 16px;
}

.hr-card-icon p {
    font-size: 1rem;
    font-weight: 500;
}

.hr-dashboard-cards .hr-dashboard-card:nth-child(4) {
    border: 1px solid #C1272D;
    position: relative;
}

#pending-notify {
    width: 55%;
    background-color: #C1272D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 1px;
    border-radius: 20px;
    position: absolute;
    top: -10px;
    right: -20px;
}

#pending-notify img {
    width: 10px;
    margin: 0px 3px;
}

#pending-notify p {
    font-size: 0.55rem;
    color: white;

}



/* oportunities resolved dashboard css */

.opportunities-resolved-dashboard {
    width: 23%;
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
}

.opportunities-dashboard {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.opportunities-heading {
    width: 85%;
    padding: 15px 0px 15px 0px;
}

.opportunities-heading h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.opportunities-cards {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.opportunities-cards .opportunities-card {
    width: 80%;
    height: 75px;
    border-radius: 10px;
    padding: 10px 20px 5px 20px;
    border: 1px solid black;
    cursor: pointer;
}

.opportunities-card div {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.opportunities-card div p {
    font-size: 0.75rem;
}

.opportunities-card div span {
    font-size: 1.35rem;
    font-weight: 500;
}


.resolved-queries-dashboard {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    border-radius: 10px;
}

.resolved-query-heading {
    width: 85%;
    padding: 15px 0px 15px 0px;
}


.resolved-query-heading h1 {
    font-size: 1.4rem;
    font-weight: 500;
}


.resolved-query-data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resolved-query-data p {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.resolved-query-data p span {
    font-size: 0.9rem;
    font-weight: 500;
    color: #B0BBC6;
}




/* dashboard -> user's dashboard css */

.user-dashboard {
    width: 100%;
    background-color: white;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-dashboard-heading {
    width: 95%;
    padding: 15px 0px 15px 0px;
}

.user-dashboard-heading h1 {
    font-size: 1.4rem;
    font-weight: 500;
}


.user-dashboard-container {
    width: 96%;
    /* background-color: green; */
    display: flex;
    gap: 10px;
}

.gender-container {
    width: 40%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px 0px 25px 0px;
}

.gender-container .female-user {
    width: 190px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #F4F6F9;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
}

.female-user .female-count h1 {
    font-size: 1.6rem;
    font-weight: 500;
}

.female-user .female-count p {
    font-size: 0.9rem;
    font-weight: 500;
}

/* verified and not verified btn */
.verified-non-verified-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.verified-non-verified-data .verified-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #34AD78;
    gap: 10px;
    padding: 0px 5px;
    background-color: #34ad7927;
    border-radius: 3px;
    color: #34AD78;
    cursor: pointer;

}

.verified-non-verified-data i {
    font-size: 0.3rem;
}

.verified-non-verified-data .verified-user h1 {
    font-size: 0.7rem;
    font-weight: 500;
}

.verified-non-verified-data .verified-user p {
    font-size: 0.6rem;
}

.verified-non-verified-data .not-verified-user {
    display: flex;
    align-items: center;
    border: 1px solid #C1272D;
    background-color: red;
    gap: 5px;
    padding: 0px 5px;
    border-radius: 3px;
    color: #C1272D;
    background-color: #c1272c21;
    cursor: pointer;
}

.verified-non-verified-data .not-verified-user h1 {
    font-size: 0.7rem;
    font-weight: 500;
}

.verified-non-verified-data .not-verified-user p {
    font-size: 0.6rem;
    font-weight: 500;

}


.gender-container .male-user {
    width: 190px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #F4F6F9;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
}

.male-user h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.male-user p {
    font-size: 0.9rem;
    font-weight: 500;
}

/* user-dashboard -> other user data */


.user-other-data-container {
    width: 60%;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 12px;
    margin: 10px 0px 25px 0px;

}

.user-other-data-container .user-data1,
.user-data2,
.user-data3 {
    width: 210px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    /* background-color: red; */
}

.user-other-data-container p {
    font-size: 1rem;
    font-weight: 500;
}

.user-other-data-container i {
    font-size: 0.6rem;
    color: #808080;
}

.user-data1 .interested-domain,
.branch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #F4F6F9;
    border: 1px solid #DDDDDD;
    cursor: pointer;
}



.user-data2 .passing-year,
.college-state {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #F4F6F9;
    border: 1px solid #DDDDDD;
    cursor: pointer;
}



.user-data3 .degree,
.birth-place {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #F4F6F9;
    border: 1px solid #DDDDDD;
    cursor: pointer;
}




.box-img-container {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* dashboard -> Hiremi-Ongoing-dashboard css */

.hiremi-Ongoing-dashboard {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
}

.hiremi-Ongoing-dashboard h1 {
    font-weight: 500;
    margin: 20px 0px;
}

.hiremi-dashboard-box {
    width: 95%;
    /* background-color: aqua; */
    margin: 0px 30px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 30px;
    flex-wrap: wrap;
}

.hiremi-dashboard-box .box {
    width: 210px;
    height: 160px;
    background-color: #F2F8FF;
    border-radius: 15px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px 20px;
    cursor: pointer;
}

.hiremi-dashboard-box .box p:nth-child(4) {
    color: #B0BBC6;
}

.hiremi-dashboard-box .box span {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hiremi-dashboard-box .box p {
    margin-top: 5px;
    font-size: 0.8rem;
}

/* dashboard -> last query-summary section css */

.query-summary-dashboard {
    width: 100%;
    background-color: #F4F6F9;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;
    margin-top: 30px;
    /* overflow: hidden; */
}

.query-summary {
    width: 28%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;

}

.query-summary h1 {
    font-weight: 500;
    margin: 20px 0px;
}

.query-summary .box {
    width: 65%;
    height: 120px;
    background-color: rgb(196, 196, 196);
    border-radius: 15px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px 20px;
    cursor: pointer;
}

.query-summary .box:nth-child(2) {
    margin: 0px 0px 25px 0px;
}

.query-summary-img-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.query-summary-dashboard-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}



.last-query-summary {
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    border-radius: 0px 15px 15px 0px;

}

.last-query-summary h1 {
    font-weight: 500;
    padding: 20px 0px 20px 20px;
}

.last-query-summary-dashboard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.query-box {
    width: 92%;
    background-color: #eb8d2e0c;
    border: 1px solid #EB8D2E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px 10px;

}

.query-profile {
    height: 100%;
    display: flex;
    align-items: center;
}

.query-profile img {
    width: 50px;
}

.query-profile span {
    margin-left: 10px;
}

.query-profile span h3 {
    font-size: 1rem;
}

.query-profile span p {
    font-size: 0.7rem;
    color: #A5A5A5;
}

.query-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#query-btn,
#resolve-btn {
    padding: 7px 15px;
    font-size: 0.7rem;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
}

#resolve-btn {
    background-color: #34AD78;
    border: 1px solid #34AD78;
    color: white;
}

#query-view-all-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#query-view-all-btn button {
    margin: 40px 0px;
    font-size: 0.8rem;
    padding: 7px 15px;
    border-radius: 30px;
    border: 1px solid black;
}




/*  */

.active-user-dashboard {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
}

.active-user-graph-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.active-user-graph-img img {
    width: 95%;
}

.active-user-dashboard h1 {
    padding: 10px 30px;

}

.active-user-dashboard p {
    padding: 10px 30px;
}

/* got to top button css */

.goto-top-btn {
    width: 100%;
    background-color: #F4F6F9;
    display: flex;
    align-items: center;
    justify-content: center;
}


.goto-top-btn a img {
    width: 17px;
}

.goto-top-btn a {
    margin: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    padding: 7px 15px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
    background-color: white;
    color: black;
}


/* ================ app download status section ======== */

.app-download-status-content {
    width: 95%;
    background-color: white;
    border-radius: 15px;
    margin-top: 25px;
}

.download-status-container {
    width: 96%;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin-left: 30px;
}

.download-status-heading {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0px 15px 0px;
}

.download-status-heading h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

#download-app-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #098CE3;
    border: 1px solid #098CE3;
    padding: 8px 30px;
    border-radius: 30px;
    cursor: pointer;
}

.download-status-heading #download-app-btn img {
    width: 13px;
}

.download-status-heading #download-app-btn p {
    font-size: 0.85rem;
    color: white;
}

.download-status-container span p {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.download-status-buttons {
    width: 100%;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-wrap: wrap;
    gap: 10px;
    background-color: white;
    margin: 0px 0px 20px 0px;
}

.download-status-buttons button {
    padding: 4px 25px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.download-status-list-container {
    width: 100%;
    /* background-color: yellow; */
}

.download-status-list-heading {
    background-color: #F4F6F9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 17px 0px;
    border-radius: 7px;
}

.download-status-list-heading p {
    width: 17%;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: baseline;
}

.download-status-list {
    width: 100%;
}

.states-list-item {
    background-color: white;
    border-bottom: 1px solid #F4F6F9;
}

.states-list-item ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    background-color: white;
    padding: 17px 0px;
}

.states-list-item ul li {
    width: 14%;
    list-style: none;
    display: flex;
    justify-content: baseline;
}


.total-user-content {
    width: 95%;
    /* background-color: red; */
    background-color: #F4F6F9;
    font-family: "Poppins", sans-serif;
}

.total-user-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.total-user-input-container h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 20px 0px 10px 0px;
}

.input-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: green; */
}

.input-container span img {
    width: 22px;
}

.input-container span {
    width: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 2px 5px;
}

.input-container span input {
    width: 85%;
    font-size: 1.3rem;
    padding: 5px 10px;
    color: #A5A5A5;
    border: none;
    outline: none;
}

.total-user-input-container .input-container button {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding: 7px 17px;
    background-color: #C1272D;
    color: white;
    border-radius: 5px;
    border: none;
    border: 1px solid #C1272D;
}

.total-user-input-container .input-container button i {
    font-size: 25px;
}


.total-user-container {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 20px 0px;
}

.total-user-heading {
    width: 96%;
    margin: 20px 0px;
    background-color: white;
}

.total-user-heading h1 {
    font-size: 1.6rem;
    font-weight: 500;
}

.total-user-heading p {
    font-size: 0.9rem;
    margin: 10px 0px;
}

.sorting-btns {
    width: 96%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.sorting-btns button {
    font-size: 1rem;
    padding: 8px 24px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    background-color: white;
}

.sorting-btns img {
    width: 13px;
}

.total-user-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-list-table {
    width: 96%;
    overflow-x: scroll;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;

}

.user-list-table::-webkit-scrollbar {
    display: none;
}

.user-list-item-heading {
    width: 190vw;
    display: flex;
    padding: 10px 10px;
    background-color: #F4F6F9;
}

.status-action-btn {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user-list-table p {
    width: 30%;
}


.user-list-item {
    width: 190vw;
    display: flex;
    padding: 15px 10px 18px 10px;
    border-bottom: 1px solid #F4F6F9;
    /* background-color: #A5A5A5; */
}


/* verified user- content */

.verified-user-content {
    width: 100%;
    background-color: #F4F6F9;
    font-family: "Poppins", sans-serif;
}


.verified-user-input-container {
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.verified-user-input-container h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 20px 0px 10px 0px;
}

.verified-user-container {
    width: 96%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin: 20px 0px 20px 25px;
}

.verified-user-heading {
    width: 96%;
    margin: 30px 0px;
}

.verified-user-heading h1 {
    font-size: 1.6rem;
    font-weight: 500;
}

.verified-user-heading p {
    font-size: 0.9rem;
    margin: 10px 0px 0px 0px;
}



.verified-user-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* not verified user css */

.not-verified-user-content {
    width: 100%;
    font-family: "Poppins", sans-serif;
}

.not-verified-user-input-container {
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.not-verified-user-input-container h1 {
    margin: 20px 0px 10px 0px;
    font-size: 1.6rem;
    font-weight: 500;
}

.not-verified-user-container {
    width: 96%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 30px;
    border-radius: 15px;
}

.not-verified-user-heading {
    width: 96%;
    margin: 20px 0px;
}

.not-verified-user-heading h1 {
    font-size: 1.6rem;
    font-weight: 500;
}

.not-verified-user-heading p {
    font-size: 0.9rem;
    margin: 10px 0px 0px 0px;
}


.not-verified-user-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
}



/* mentorship content */


.mentorship-content {
    width: 95%;
    /* background-color: green; */
}


.mentorship-content-container {
    margin-top: 30px;
    width: 100%;
    padding: 30px 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
}


.mentorship-content-container h1 {
    margin-left: 20px;
    font-size: 1.4rem;
    font-weight: 500;
}


#Create-btn {
    margin-right: 30px;
    font-size: 0.85rem;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #C1272D;
    cursor: pointer;
}



.mentorship-summary-container {
    margin-top: 30px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.mentorship-summary-container h1 {
    margin: 20px 30px;
    font-size: 1.3rem;
    font-weight: 500;
}

.mentorship-summary-box .box {
    width: 210px;
    height: 150px;
    background-color: #F2F8FF;
    border-radius: 15px;
    padding: 15px 20px;
    cursor: pointer;
}


.box-img-container i {
    font-size: 1.5rem;
    transform: translate(10px, -20px);
    color: #A5A5A5;

}

.mentorship-summary-box {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

.mentorship-status-container {
    margin-top: 30px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.mentorship-status-container h1 {
    margin: 20px 30px;
    font-size: 1.3rem;
    font-weight: 500;
}

.mentorship-status-box {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

.mentorship-status-box .box {
    width: 210px;
    height: 150px;
    background-color: #F2F8FF;
    border-radius: 15px;
    padding: 15px 20px;
    cursor: pointer;
}

/* mentorship -> table data  */

.mentorship-table-data {
    margin-top: 30px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
}

.mentorship-table-data-container {
    width: 96%;
    margin-left: 30px;
}

.mentorship-table-data-container .heading h1 {
    padding-top: 30px;
    font-size: 1.6rem;
    font-weight: 500;
}

.mentorship-table-data-container .heading p {
    margin: 10px 0px 30px;
    font-size: 0.9rem;
    font-weight: 600;
}

.mentorship-table {
    width: 100%;
    margin-top: 30px;
    overflow: scroll;
}

.mentorship-table::-webkit-scrollbar {
    display: none;
}

.mentorship-table-list {
    width: 160vw;

    display: flex;
    flex-direction: column;
}

.table-heading {
    display: flex;
    /* align-items: center; */
    background-color: #F4F6F9;
    border-radius: 4px;
}

.table-heading p {
    width: 25%;
    padding: 20px 0px 20px 20px;
    font-weight: 600;
}

.table-heading div,
.table-user-list-item div {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.table-user-list-item p {
    width: 25%;
    border-bottom: 1px solid #F4F6F9;
    padding: 20px 0px 20px 20px;
}

.table-user-list-item {
    display: flex;
}

/* internship css */

.internship-content {
    width: 95%;
    font-family: "Poppins", sans-serif;
}

.internship-content-container {
    margin-top: 30px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
}

.internship-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
}

.internship-content-container span {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.internship-content-container span img {
    width: 22px;
    margin: 0px 10px;
}

.internship-content-container span h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.internship-summary-container {
    background-color: white;
    width: 100%;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.internship-summary-container h1 {
    margin: 20px 30px;
    font-size: 1.4rem;
    font-weight: 500;
}

.internship-summary-container .box {
    width: 220px;
    height: 150px;
    border-radius: 15px;
    padding: 15px 20px;
    cursor: pointer;
}

.internship-summary-box {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}


.internship-status-container {
    background-color: white;
    width: 100%;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.internship-status-container h1 {
    margin: 20px 30px;
    font-size: 1.4rem;
    font-weight: 500;
}

.internship-status-container .box {
    width: 220px;
    height: 160px;
    border-radius: 15px;
    padding: 15px 20px;
    cursor: pointer;
}

.internship-status-box {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

/* fresher css */

.fresher-job-content {
    width: 95%;
    font-family: "Poppins", sans-serif;
}

.fresher-job-content-container {
    width: 100%;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    padding: 30px 0px;
}

.fresher-job-content-container span {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.fresher-job-content-container h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.fresher-job-content-container span img {
    width: 22px;
    margin: 0px 10px;
}

.fresher-job-summary-container {
    width: 100%;
    margin-top: 30px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.fresher-job-summary-container h1 {
    margin: 20px 30px;
    font-size: 1.4rem;
    font-weight: 500;
}

.fresher-job-summary-box {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0px 0px 30px 30px;
}

.fresher-job-summary-box .box {
    width: 230px;
    height: 150px;
    /* border: 1px solid black; */
    padding: 20px 10px 20px 20px;
    border-radius: 15px;
}


.fresher-job-status-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
}

.fresher-job-status-container h1 {
    margin: 20px 20px;
    font-size: 1.4rem;
    font-weight: 500;
}

.fresher-job-status-box {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 30px 30px;
    gap: 20px;
}

.fresher-job-status-box .box {
    width: 230px;
    height: 150px;
    padding: 20px 10px 20px 20px;
    border-radius: 15px;
}

/* experienced css */

.experienced-job-content {
    width: 95%;
    font-family: "Poppins", sans-serif;
}

.experienced-job-content-container {
    width: 100%;
    border-radius: 15px;
    background-color: white;
    margin-top: 25px;

    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.experienced-job-content-container span {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.experienced-job-content-container span img {
    width: 22px;
    margin: 0px 10px;
}

.experienced-job-content-container span h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.experienced-job-summary-container {
    width: 100%;
    background-color: white;
    margin-top: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.experienced-job-summary-container h1 {
    margin: 20px 30px;
    font-size: 1.4rem;
    font-weight: 500;
}

.experienced-job-summary-box {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0px 0px 30px 30px;
}

.experienced-job-summary-box .box {
    width: 230px;
    height: 150px;
    border-radius: 15px;
    padding: 20px 10px 20px 20px;
    cursor: pointer;
}

.experienced-job-status-container {
    width: 100%;
    background-color: white;
    margin-top: 30px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
}

.experienced-job-status-container h1 {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 20px 30px;
}

.experienced-job-status-box {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0px 0px 30px 30px;
}

.experienced-job-status-box .box {
    width: 230px;
    height: 150px;
    border-radius: 15px;
    padding: 20px 10px 20px 20px;
    cursor: pointer;
}