.view-profile-content {
    width: 95%;
}

.view-profile-content-wrap-container {
    width: 100%;
}

.view-profile-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.profile-name-data {
    width: 100%;
    height: 25vh;
    background-color: white;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.profile-data-heading {
    width: 96%;
    border-left: 3.5px solid #C1272D;
    border-radius: 3px;
    padding: 0px 0px 0px 10px;
    margin: 20px 20px 0px 20px;
    background-color: #c1272c0c;
}

.profile-data-heading h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.verfication-date-container {
    width: 96%;
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.verfication-date-container #acc-create {
    font-size: 0.8rem;
    color: #808080;
}

.verfication-date-container div {
    width: 2px;
    height: 15px;
    background-color: black;
    margin: 0px 10px;
}

.verfication-date-container #acc-verify {
    font-size: 0.8rem;
    color: #34AD78;
}


.user-first-info {
    width: 96%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 15px;
}

.user-profile-img-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name-box {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
}

.user-profile-img-container .user-img img {
    width: 80px;
}

.user-profile-img-container .name-box #name {
    font-size: 0.99rem;
}

.user-profile-img-container .name-box #name span {
    font-weight: 600;
    font-size: 24px;
    color: #2f2e2e;
}

.user-profile-img-container .name-box #utr-no {
    font-size: 0.93rem;
    
}
.user-profile-img-container .name-box #utr-no span{
    font-size: 19px;
    font-weight: 600;
    
    
}

.user-profile-img-container .name-box #status {
    font-size: 0.93rem;
}

.user-profile-img-container .name-box #status span {
    border: 1px solid #34AD78;
    font-size: 0.65rem;
    color: #34AD78;
    padding: 1.5px 10px;
    border-radius: 30px;
    background-color: #34ad790a;
}


.edit-downlaod-btns {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: end;
}

.edit-downlaod-btns #edit-profile {
    font-size: 0.85rem;
    background-color: white;
    border: 1px solid #098CE3;
    color: #098CE3;
    border-radius: 30px;
    outline: none;
    padding: 8px 12px;
}

.edit-downlaod-btns #download-profile {
    font-size: 0.85rem;
    background-color: #098CE3;
    border: 1px solid #098CE3;
    color: white;
    border-radius: 30px;
    outline: none;
    padding: 8px 12px;
}

/*  */

.personal-info-container {
    width: 66%;
    display: flex;
    flex-direction: column;
}

.personal-info-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}


.personal-info-data {
    width: 100%;
    /* background-color: #098CE3; */
    display: flex;
    gap: 20px;
}

.personal-info {
    width: 48.9%;
    background-color: white;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* background-color: red; */
    padding-bottom: 15px;
}

.personal-info-heading {
    width: 85%;
    background-color: #c1272c0c;
    margin: 20px 0px;
    padding: 0px 10px;
    border-left: 3.5px solid #C1272D;
    border-radius: 3px;
}

.personal-info-heading h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.personal-info .info-data {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 15px;
    /* background-color: rebeccapurple; */
}

.personal-info .info-data p {
    font-size: 0.8rem;
    color: #808080;
}

.personal-info .info-data h3 {
    font-size: 1.12rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.verify-info-container {
    width: 100%;
    background-color: white;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.verify-info-heading {
    width: 92%;
    background-color: #c1272c0c;
    margin: 20px 0px 5px 0px;
    padding: 0px 10px;
    border-left: 3.5px solid #C1272D;
    border-radius: 3px;
}

.verify-info-heading h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.verify-info-container .verified-info {
    width: 92%;
    margin: 15px 0px;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
}

.verify-info-container .verified-info p {
    font-size: 0.8rem;
    color: #808080;
}

.verify-info-container .verified-info h3 {
    font-size: 1.12rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.extra-info {
    width: 32.5%;
    margin-top: 25px;
    /* background-color: white; */
}

.extra-profile-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 15px;

}

.extra-info .info-data {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 15px;
}


.extra-info .info-data p {
    font-size: 0.8rem;
    color: #808080;
}

.extra-info .info-data h3 {
    font-size: 1.12rem;
    font-weight: 500;
    margin-bottom: 5px;
}


.whatsapp-no a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 10px 0px 5px 0px;
    font-size: 0.75rem;
    cursor: pointer;
}

.whatsapp-no a img {
    width: 19px;
}


.extra-info-container {
    width: 100%;
    background-color: white;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.extra-info-heading {
    width: 90%;
    border-left: 3.5px solid #C1272D;
    background-color: #c1272c0c;
    margin: 19px 0px 5px 0px;
    padding: 0px 10px;
    border-radius: 3px;
}

.extra-info-heading h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.extra-info-data {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
    margin: 15px 0px 10px 0px;
    border-bottom: 1px solid #DDDDDD;
}

.extra-info-data p {
    font-size: 0.8rem;
    color: #808080;
}

.extra-info-data div {
    font-size: 1.12rem;
    font-weight: 500;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.extra-info-data div #view-resume {
    text-decoration: none;
    /* border: 1px solid #098CE3; */
    background-color: #098CE3;
    color: white;
    font-size: 0.65rem;
    border-radius: 30px;
    padding: 4px 10px;
}

.extra-info-data div #copy-link {
    text-decoration: none;
    border: 1px solid #098CE3;
    background-color: white;
    color: #098CE3;
    font-size: 0.65rem;
    border-radius: 30px;
    padding: 4px 10px;
}

.extra-info-data h3 {
    font-size: 1.12rem;
    font-weight: 500;
    margin-bottom: 7px;
}

.extra-info-data span {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 5px;
}

.extra-info-data span p {
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    padding: 4px 10px;
    font-size: 0.7rem;
}

.educational-project-info {
    width: 100%;
    display: flex;
    /* align-items: center; */
    gap: 20px;
    margin-top: 25px;

}

.educational-project-container {
    width: 49.2%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.educational-project-info .educational-heading {
    width: 92%;
    padding: 0px 10px;
    border-left: 3.5px solid #C1272D;
    background-color: #c1272c0c;
    margin: 20px 0px 5px 0px;
    border-radius: 3px;

}

.educational-project-info .educational-heading h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.educational-project-info .educational-info {
    width: 92%;
    margin: 15px 0px 10px 0px;
    border-bottom: 1px solid #DDDDDD;

}

.educational-project-info .educational-info p {
    font-size: 0.8rem;
    color: #808080;
}

.educational-project-info .educational-info h3 {
    font-size: 1.12rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.educational-project-info .project-info {
    width: 92%;
}

.educational-project-info .project-info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
    border-bottom: 1px solid #DDDDDD;
    margin: 15px 0px 10px 0px;
    padding-bottom: 10px;
}

.educational-project-info .project-info p {
    font-size: 0.8rem;
    color: #808080;
}

.educational-project-info .project-info h3 {
    font-size: 1.12rem;
    font-weight: 500;
}

.educational-project-info .project-info p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.educational-project-info .project-info p a {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #098ce327;
    color: #098CE3;
    padding: 5px 10px;
}

.educational-project-info .project-info p a span {
    font-size: 0.6rem;
}


.more-personal-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
    padding-bottom: 15px;
}

.more-personal-info-heading {
    width: 96%;
    background-color: #c1272c0c;
    border-left: 3.5px solid #C1272D;
    border-radius: 3px;
    margin: 20px 0px 5px 0px;
    padding: 0px 10px;
}

.more-personal-info-heading h1 {
    font-size: 1.4rem;
    font-weight: 500;

}

.more-personal-info-content {
    width: 96%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.more-personal-info-content .marital-info {
    width: 49.2%;
    /* background-color: rebeccapurple; */
}

.more-personal-info {
    border-bottom: 1px solid #DDDDDD;
    margin: 15px 0px 10px 0px;
}

.more-personal-info p {
    font-size: 0.8rem;
    color: #808080;
}

.more-personal-info h3 {
    font-size: 1.12rem;
    font-weight: 500;
    margin-bottom: 5px;
}

/* experience information */

.experience-content {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.experience-container {
    width: 49.9%;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-heading {
    width: 90%;
    border-left: 3.5px solid #C1272D;
    background-color: #c1272c0c;
    margin: 20px 0px 5px 0px;
    padding: 0px 10px;
    border-radius: 3px;
}

.experience-heading h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.experience-info {
    width: 90%;
    /* background-color: rgb(149, 204, 222); */
    margin: 15px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
    border-bottom: 1px solid #DDDDDD;
}

.experience-info p {
    font-size: 0.8rem;
    color: #808080;
}

.experience-info h2 {
    font-size: 1.12rem;
    font-weight: 500;
}

.experience-info h3 {
    font-size: 0.8rem;
    font-weight: 300;
    color: #808080;
}



.social-language-container {
    width: 49.9%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-links-content {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

}

.social-links-heading {
    width: 93%;
    margin: 20px 0px 5px 0px;
    border-left: 3.5px solid #C1272D;
    background-color: #c1272c0c;
    border-radius: 3px;
    padding-left: 10px;

}


.social-links-heading h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.social-links {
    width: 93%;
    display: flex;
    gap: 20px;
    margin-top: 20px;

}

.social-links a {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    padding: 3px 15px;
    cursor: pointer;
}

.social-links a img {
    width: 25px;
}

.social-links a p {
    font-size: 0.8rem;
}


.language-content {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.language-heading {
    width: 93%;
    border-left: 3.5px solid #C1272D;
    margin: 20px 0px 5px 0px;
    border-radius: 3px;
    padding-left: 10px;
    background-color: #c1272c0c;
}

.language-heading h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.language-container {
    width: 93%;
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.language-container p {
    border: 1px solid black;
    font-size: 0.9rem;
    padding: 4px 15px;
    border-radius: 30px;
}

.profile-summary-content {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.profile-summary-heading {
    width: 96%;
    background-color: white;
    border-left: 3.5px solid #C1272D;
    background-color: #c1272c0c;
    border-radius: 3px;
    margin: 20px 0px 5px 0px;
    padding-left: 10px;
}

.profile-summary-heading h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.profile-summary {
    width: 96%;
    margin-top: 15px;
}

.profile-summary p {
    font-size: 1.12rem;
    font-weight: 500;
}

.delete-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 25px 0px 40px;
}

.delete-btn-container button {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #C1272D;
    padding: 5px 15px;
    border-radius: 30px;
    cursor: pointer;
}

.delete-btn-container button img {
    width: 15px;
}

.delete-btn-container button p {
    font-size: 0.95rem;
    color: #C1272D;
}
